

@{
    ViewData["Title"] = "Index";
}

<h2>Wypożyczalnia filmów</h2>
<br />
<p>
    <a asp-action="Create">Wypożycz film</a>
</p>
<p>
    <a asp-action="ShowRentedMovies">Pokaż listę wypożyczonych filmów</a>
</p>
<p><a asp-area="" asp-controller="Reservations" asp-action="Index">Rezerwcje</a></p>
<p><a asp-area="" asp-controller="Reviews" asp-action="Index">Recenzja</a></p>

